.left-menu{
    width: 250px;
    height: 100%;
    min-height: 100vh;
    background: var(--left-menu-color);
    backdrop-filter: blur(10px);
    padding: 25px 23px;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0.175,0.885,0.32,1.275);
}
.left-menu .logo-container{
    color: var(--left-menu-header-color);
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}
.left-menu .logo-container i{
    font-size: 35px;
    display: flex;
    align-content: center;
    align-items: center;
}
.search-box{
    width: 100%;
    height: 45px;
    /*background-color: rebeccapurple;*/
    position: relative;
    margin-top: 20px;
    color: #848484;
    border-radius: 10px;
    border: none;

}
.search-box input{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: var(--left-menu-search-box-color);
    border: none;
    padding-left: 45px;
    color: #f1f1f1;
    font-size: 14px;
    font-weight: bold;

}
.search-box .search-icon{
    position: absolute;
    color: #848484;
    top: 0;
    left: 0;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    font-size: 20px;


}
.menu-container{
    margin: 15px 0;
}
.menu-container .title,.playlist-container .name-container p{
    color: var(--left-menu-menusection);
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.menu-container ul{
    width: 100%;
    padding: 0;
}
.menu-container ul li{
    list-style: none;
    /*margin: 0 0;*/
    width: 100%;
    padding: 10px 0;
    position: relative;

}
.menu-container ul li a{
    text-decoration: none;
    color: var(--left-menu-menusection);
    display: flex;
    /*flex-direction: column;*/
    align-items: center;
    font-size: 20px;
}
.menu-container ul li a i{
    font-size: 23px;
    margin-right: 15px;

}
.menu-container ul li:hover a,.menu-container ul li.active a{
    color: var(--left-menu-menusection-hover-effect-color);
    transition: 0.3s;
}
.menu-container ul li:before{
    position: absolute;
    content: "";
    top: 0;
    left: -32px;
    width: 0;
    height: 100%;
    background-color: var(--menu-container-hover-effect-leftslide);
    border-radius: 5px;

}
.menu-container ul li.active::before{
    transition: 0.3s;
    width: 5px;
}
.track-list{
    position: absolute;
    bottom: 0;
    /*width: 100%;*/
    border-top: 1px solid rgba(255,255,255,0.1);
    padding-top: 10px;
    padding-bottom: 10px;
}
.track-list .top{
    display: flex;
    align-items: center;
}
.track-list .top p{
    margin-left: 15px;
    color: var(--left-menu-header-color);
    font-size: 14px;
}
.track-list .top img{
    width: 50px !important;
}
.trackList .top p {
    margin-left: 15px;
    color: #f1f1f1;
    font-size: 14px;
}
.track-list .top .track-name .track-span{
    display: block;
    font-size: 12px;
    color: var(--tract-list-span-color)
}
.track-list .bottom{
    display: none;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    color: var(--tract-list-span-color);
}
.track-list .bottom i{
    font-size: 18px;
    align-items: center;
}
.track-list .bottom .track-desktop-icon{
    margin-left: 10px;
}
.track-list .bottom i:hover{
    color: var(--left-menu-header-color);
    transition: 0.3s;
    cursor: pointer;
}

.track-list .bottom input{
    position: relative;
    height: 5px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: rgba(255,255,255,0.1);
    appearance: none;
}
.track-list .bottom input::before{
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    background: var(--menu-container-hover-effect-leftslide);
    width: 50%;
    height: 100%;
    border-radius: 10px;
    z-index: 2;
    transition: width 250ms linear;

}
.track-list .bottom input::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 10px;
    height: 20px;
    border-radius: 10px;
    background: var(--left-menu-header-color);
    border: 2px solid #000;
    cursor: pointer;
    position: relative;
    margin: -2px 0 0 0;
    z-index: 3;
    box-sizing: border-box;
    transition: all 250ms linear;
}
.track-list .bottom input::-moz-progress-bar{
    background: var(--menu-container-hover-effect-leftslide);
    width: 50%;
    height: 100%;
    border-radius: 10px;
    z-index: 2;
    transition: width 250ms linear;
}

@media screen and (max-width: 550px) {
    .left-menu {
        min-width: 60px;
        width: 60px;
        display: flex;
        flex-direction: column;
        /*justify-content: center;*/
        align-items: center;
    }
    .left-menu .left-menu-main-title{
        display: none;
    }

    .left-menu .search-box {
        display: none;
    }

    .track-list {
        display: none;
    }

    .playlist-container {
        display: none;
    }

    .menu-container ul li a span {
        display: none;
    }
    .menu-container .title{
        text-align: center;
    }

    .menu-container ul li a i {
        font-size: 25px;
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    .menu-container ul li {
        margin: 25px 5px;
    }
    .menu-container ul li a{
        display: block;
        margin-inline: auto ;
        margin-block: auto;
    }
}

